---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=f2d0de05&app_key=0494f4824cf7b0dea508fbfe6e60e36e&from=0&q=sdbfsdnfjksnjfsd&to=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "sdbfsdnfjksnjfsd",
          "from" : 0,
          "to" : 10,
          "params" : {
            "sane" : [ ],
            "to" : [ "10" ],
            "q" : [ "sdbfsdnfjksnjfsd" ],
            "app_id" : [ "f2d0de05" ],
            "app_key" : [ "0494f4824cf7b0dea508fbfe6e60e36e" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Wed, 02 Nov 2016 22:12:23 GMT
recorded_with: VCR 3.0.3
