<!-- Search:

The user shall type in a search term that will:
Make a request to the API using the search term
Display the results in a list to the user -->

<h1>Search For A Recipe!</h1>

<%= form_tag results_path, method: :get do %>
  <%= text_field_tag :search_term, nil, placeholder: "Enter search term(s)" %>

  <%= submit_tag "Search!", class: "button" %>
<% end %>
