<!-- Show View:

This shall show the details about a given recipe. These details include:
Name
Link to the original recipe (opens in a new tab)
Ingredients
Dietary information -->

<h1>Homepages#show</h1>
<p>Find me in app/views/homepages/show.html.erb</p>
