/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  width: 75%;
  margin: 3rem auto;
}

footer {
  text-align: center;
}

a {
  color: rgb(80, 80, 80);
}

.search-form {
  width: 70%;
  margin: 0 auto;
}

.center-this {
  text-align: center;
}

img {
  height: 10rem;
  width: auto;
}

.recipe-result {
  margin: 2rem auto;
}

.recipe-result a {
  margin: 0 2rem;
}

.bigger-image img {
  height: 20rem;
  width: auto;
}

.recipe-details {
  padding: 5rem;
}
